In [1]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Read in CSV data
csv_path = Path('/Users/connor/Desktop/02-Homework_02-Python_Instructions_PyBank_Resources_budget_data.csv')
budget_data = pd.read_csv(csv_path)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
num_mon = budget_data['Date'].count()
num_mon

86

In [4]:
net_pnl = budget_data['Profit/Losses'].sum()
net_pnl

38382578

In [5]:
pnl_diff = budget_data['Profit/Losses'].diff()
pnl_diff

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [6]:
budget_data["PnL Diff"] = pnl_diff

In [7]:
budget_data

        Date  Profit/Losses  PnL Diff
0   Jan-2010         867884       NaN
1   Feb-2010         984655  116771.0
2   Mar-2010         322013 -662642.0
3   Apr-2010         -69417 -391430.0
4   May-2010         310503  379920.0
..       ...            ...       ...
81  Oct-2016         102685 -665765.0
82  Nov-2016         795914  693229.0
83  Dec-2016          60988 -734926.0
84  Jan-2017         138230   77242.0
85  Feb-2017         671099  532869.0

[86 rows x 3 columns]

In [8]:
budget_data.sort_values("PnL Diff")

        Date  Profit/Losses   PnL Diff
44  Sep-2013       -1196225 -2196167.0
78  Jul-2016       -1163797 -1876758.0
73  Feb-2016       -1100387 -1750387.0
31  Aug-2012       -1022534 -1529236.0
63  Apr-2015        -524626 -1212159.0
..       ...            ...        ...
32  Sep-2012         475062  1497596.0
79  Aug-2016         569899  1733696.0
47  Dec-2013        1150461  1838447.0
25  Feb-2012        1170593  1926159.0
0   Jan-2010         867884        NaN

[86 rows x 3 columns]

In [9]:
budget_data.sort_values("PnL Diff", ascending=False)

        Date  Profit/Losses   PnL Diff
25  Feb-2012        1170593  1926159.0
47  Dec-2013        1150461  1838447.0
79  Aug-2016         569899  1733696.0
32  Sep-2012         475062  1497596.0
45  Oct-2013         268997  1465222.0
..       ...            ...        ...
31  Aug-2012       -1022534 -1529236.0
73  Feb-2016       -1100387 -1750387.0
78  Jul-2016       -1163797 -1876758.0
44  Sep-2013       -1196225 -2196167.0
0   Jan-2010         867884        NaN

[86 rows x 3 columns]

In [10]:
pnl_increase = budget_data["PnL Diff"].loc[25]
pnl_increase_date = budget_data["Date"].loc[25]
print(pnl_increase)
print(pnl_increase_date)

1926159.0
Feb-2012

In [11]:
budget_data.sort_values("PnL Diff", ascending=True)

        Date  Profit/Losses   PnL Diff
44  Sep-2013       -1196225 -2196167.0
78  Jul-2016       -1163797 -1876758.0
73  Feb-2016       -1100387 -1750387.0
31  Aug-2012       -1022534 -1529236.0
63  Apr-2015        -524626 -1212159.0
..       ...            ...        ...
32  Sep-2012         475062  1497596.0
79  Aug-2016         569899  1733696.0
47  Dec-2013        1150461  1838447.0
25  Feb-2012        1170593  1926159.0
0   Jan-2010         867884        NaN

[86 rows x 3 columns]

In [12]:
pnl_decrease = budget_data["PnL Diff"].loc[44]
pnl_decrease_date = budget_data["Date"].loc[44]
print(pnl_decrease)
print(pnl_decrease_date)

-2196167.0
Sep-2013

In [13]:
pnl_mean = round(pnl_diff.mean(),2)
pnl_mean

-2315.12

In [14]:
print("Financial Analysis")
print("------------------------")
print(f"Total Months:", (num_mon))
print(f"Total: $",(net_pnl))
print(f"Average Change: $", (pnl_mean))
print(f"Greatest Increase in Profits:", (pnl_increase_date), "$",(pnl_increase))
print(f"Greatest Decrease in Profits:", (pnl_decrease_date), "$",(pnl_decrease))

Financial Analysis
------------------------
Total Months: 86
Total: $ 38382578
Average Change: $ -2315.12
Greatest Increase in Profits: Feb-2012 $ 1926159.0
Greatest Decrease in Profits: Sep-2013 $ -2196167.0